.search-callback {
  padding-top: 20px;

  &__wrapper {
    border-radius: 18px 18px 0 0;
    overflow: hidden;
    padding-top: 58%;
    background-color: var(--light-gray);
    background-image: url('../img/search-callback-bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__content {
    padding: 24px;
    color: var(--black);
    background-color: var(--white);
    border-radius: 18px 18px 0 0;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__text {
    margin-bottom: 20px;
  }

  &__btn {
    width: 100%;
  }

  @include media-min ($md) {
    &__wrapper {
      padding-top: 90px;
      padding-bottom: 90px;
      padding-right: 32px;
      border-bottom-left-radius: 18px;
      background-position: center;
      background-size: cover;
    }

    &__content {
      margin-left: auto;
      width: 336px;
      padding: 30px;
      border-bottom-right-radius: 18px;
    }

    &__btn {
      width: auto;
    }
  }

  @include media-min ($xl) {
    padding-top: 30px;

    &__wrapper {
      padding: 73px 80px;
    }

    &__content {
      width: 385px;
      padding: 40px;
    }

    &__text {
      margin-bottom: 36px;
    }
  }
}
