.drop-menu {
  &__item {
    &--has-children {
      & a {
        padding-right: 38px;
      }

      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 17px;
        right: 14px;
        width: 8px;
        height: 14px;
        background-image: url("data:image/svg+xml,%3Csvg width='9' height='15' viewBox='0 0 9 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.25213 2.29641L6.45364 7.46056L1.21674 12.6598C1.13383 12.7415 1.06802 12.8386 1.02311 12.9456C0.9782 13.0527 0.955078 13.1675 0.955078 13.2834C0.955078 13.3993 0.9782 13.5141 1.02311 13.6212C1.06802 13.7282 1.13383 13.8253 1.21674 13.907C1.29898 13.9893 1.39682 14.0546 1.50462 14.0992C1.61242 14.1438 1.72804 14.1667 1.84482 14.1667C1.9616 14.1667 2.07722 14.1438 2.18502 14.0992C2.29282 14.0546 2.39065 13.9893 2.47289 13.907L8.33786 8.08412C8.42077 8.00248 8.48658 7.90534 8.53149 7.79832C8.5764 7.69129 8.59952 7.5765 8.59952 7.46056C8.59952 7.34462 8.5764 7.22983 8.53149 7.1228C8.48658 7.01578 8.42077 6.91864 8.33786 6.837L7.70978 6.25735L2.50827 1.0932C2.42604 1.01089 2.3282 0.945548 2.2204 0.90096C2.1126 0.856373 1.99698 0.833416 1.8802 0.833416C1.76342 0.833416 1.6478 0.856373 1.54 0.90096C1.4322 0.945548 1.33436 1.01089 1.25213 1.0932C1.09787 1.25608 1.01199 1.47124 1.01199 1.69481C1.01199 1.91838 1.09787 2.13353 1.25213 2.29641Z' fill='%232F1A0E'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: cover;
        pointer-events: none;
        transition: transform .15s ease-in-out;
      }
    }

    &--expanded {
      & > a {
        color: var(--accent);
        background-color: var(--white-contrast);
      }

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='9' height='15' viewBox='0 0 9 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.25213 2.29641L6.45364 7.46056L1.21674 12.6598C1.13383 12.7415 1.06802 12.8386 1.02311 12.9456C0.9782 13.0527 0.955078 13.1675 0.955078 13.2834C0.955078 13.3993 0.9782 13.5141 1.02311 13.6212C1.06802 13.7282 1.13383 13.8253 1.21674 13.907C1.29898 13.9893 1.39682 14.0546 1.50462 14.0992C1.61242 14.1438 1.72804 14.1667 1.84482 14.1667C1.9616 14.1667 2.07722 14.1438 2.18502 14.0992C2.29282 14.0546 2.39065 13.9893 2.47289 13.907L8.33786 8.08412C8.42077 8.00248 8.48658 7.90534 8.53149 7.79832C8.5764 7.69129 8.59952 7.5765 8.59952 7.46056C8.59952 7.34462 8.5764 7.22983 8.53149 7.1228C8.48658 7.01578 8.42077 6.91864 8.33786 6.837L7.70978 6.25735L2.50827 1.0932C2.42604 1.01089 2.3282 0.945548 2.2204 0.90096C2.1126 0.856373 1.99698 0.833416 1.8802 0.833416C1.76342 0.833416 1.6478 0.856373 1.54 0.90096C1.4322 0.945548 1.33436 1.01089 1.25213 1.0932C1.09787 1.25608 1.01199 1.47124 1.01199 1.69481C1.01199 1.91838 1.09787 2.13353 1.25213 2.29641Z' fill='%23F3770F'/%3E%3C/svg%3E");
        transform: rotateZ(90deg);
      }
    }
  }

  &__sub-menu {
    display: none;

    & a {
      padding-left: 25px;
    }

    & & {
      & a {
        padding-left: 50px;
      }
    }
  }

  @include media-min ($sm) {
    &__sub-menu {
      display: none;

      & a {
        padding-left: 50px;
      }

      & & {
        & a {
          padding-left: 70px;
        }
      }
    }
  }

  @include media-min ($xl) {

    &__item {
      &--has-children {
        position: relative;

        &::before {
          top: 12px;
          transform: rotate(90deg);
        }

        &:hover {

          &:before {
            background-image: url("data:image/svg+xml,%3Csvg width='9' height='15' viewBox='0 0 9 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.25213 2.29641L6.45364 7.46056L1.21674 12.6598C1.13383 12.7415 1.06802 12.8386 1.02311 12.9456C0.9782 13.0527 0.955078 13.1675 0.955078 13.2834C0.955078 13.3993 0.9782 13.5141 1.02311 13.6212C1.06802 13.7282 1.13383 13.8253 1.21674 13.907C1.29898 13.9893 1.39682 14.0546 1.50462 14.0992C1.61242 14.1438 1.72804 14.1667 1.84482 14.1667C1.9616 14.1667 2.07722 14.1438 2.18502 14.0992C2.29282 14.0546 2.39065 13.9893 2.47289 13.907L8.33786 8.08412C8.42077 8.00248 8.48658 7.90534 8.53149 7.79832C8.5764 7.69129 8.59952 7.5765 8.59952 7.46056C8.59952 7.34462 8.5764 7.22983 8.53149 7.1228C8.48658 7.01578 8.42077 6.91864 8.33786 6.837L7.70978 6.25735L2.50827 1.0932C2.42604 1.01089 2.3282 0.945548 2.2204 0.90096C2.1126 0.856373 1.99698 0.833416 1.8802 0.833416C1.76342 0.833416 1.6478 0.856373 1.54 0.90096C1.4322 0.945548 1.33436 1.01089 1.25213 1.0932C1.09787 1.25608 1.01199 1.47124 1.01199 1.69481C1.01199 1.91838 1.09787 2.13353 1.25213 2.29641Z' fill='%23F3770F'/%3E%3C/svg%3E");
            transform: rotate(270deg);
          }

          & > .drop-menu__sub-menu {
            display: block;
          }

          & > a {
            color: var(--accent);
          }
        }
      }
    }

    &__sub-menu {
      position: absolute;
      top: calc(100% + 1px);
      left: 0;
      width: 255px;
      background-color: var(--white);
      z-index: 2;

      & .drop-menu__item--has-children {
        &::before {
          top: 17px;
          transform: rotate(0);
        }

        &:hover {
          & > .drop-menu__sub-menu {
            left: 100%;
            top: 0;
          }

          & > a {
            color: var(--accent);
            background-color: var(--white-contrast);
          }
        }
      }

      & a {
        display: block;
        padding: 12px;
        border-bottom: 1px solid var(--light-gray);

        &:hover {
          background-color: var(--white-contrast);
        }
      }

      & & {
        animation-name: fade-left;
        border-left: 1px solid var(--light-gray);
        z-index: -2;

        & a {
          padding: 12px;
        }
      }
    }
  }
}
