.header-top {
  display: none;

  @include media-min ($xl) {
    display: block;
    background-color: var(--light-gray);
    padding: 9px 0;
    min-height: 37px;

    &__content {
      display: flex;
      margin: -5px -20px;

      & > * {
        margin: 5px 20px;
      }

      & a {
        color: inherit;
        transition: color .2s ease-in-out;

        &:hover {
          color: var(--accent);
          text-decoration: none;
        }
      }
    }
  }
}
