.contact-person {

  &__name {
    display: block;
    margin-bottom: 4px;
  }

  &__post {
    display: block;
    color: var(--dark-gray);
  }

  &__contacts {
    margin-top: 12px;
    display: grid;
    row-gap: 12px;
  }
}
