.catalog-main {
  padding-top: 60px;
  padding-bottom: 35px;
  text-align: center;

  &__title {
    margin-bottom: 30px;
  }

  &__grid {
    display: grid;
    gap: 20px;
    margin-bottom: 40px;
    text-align: left;
  }

  @include media-min ($md) {
    padding-bottom: 40px;

    &__grid {
      gap: 30px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 184px 86px 184px;

      & > * {
        &:nth-child(1) {
          grid-row: 1 / span 2;
        }

        &:nth-child(2) {
          grid-row: 1 / span 2;
        }

        &:nth-child(4) {
          grid-column: span 2;
        }

        &:nth-child(5) {
          grid-row: 2 / span 2;
        }
      }
    }
  }

  @include media-min ($lg) {
    &__grid {
      grid-template-rows: 250px 120px 250px;
    }
  }

  @include media-min ($xl) {
    padding-top: 80px;
    padding-bottom: 50px;

    &__title {
      margin-bottom: 48px;
    }

    &__grid {
      margin-bottom: 48px;
      grid-template-rows: 300px 170px 300px;
    }
  }
}
