.news-main {
  padding-top: 40px;
  padding-bottom: 60px;
  text-align: center;

  &__title {
    margin-bottom: 30px;
  }

  &__grid {
    margin-bottom: 40px;
    text-align: left;

    & > * {
      margin-bottom: 20px;
    }
  }

  @include media-min ($md) {
    padding-bottom: 80px;

    &__grid {
      display: flex;
      margin: -15px;
      margin-bottom: 40px;

      flex-wrap: wrap;

      & > * {
        margin: 15px;
        flex-basis: 100%;
      }

      &--two-child {
        & > * {
          max-width: calc(50% - 30px);
        }
      }

      &--three-child {
        margin-bottom: 25px;

        & > * {
          max-width: calc(50% - 30px);

          &:last-child {
            max-width: 100%;
          }
        }
      }
    }
  }

  @include media-min ($xl) {
    padding-top: 50px;
    padding-bottom: 100px;

    &__title {
      margin-bottom: 36px;
    }

    &__grid {
      margin-bottom: 30px;
      flex-wrap: nowrap;

      & > * {
        max-width: none;

        &:last-child {
          max-width: none;
        }
      }
    }
  }
}
