.breadcrumbs {
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--accent);

  & a {
    color: inherit;
    text-decoration: none;
  }

  & .current {
    color: var(--dark-gray);
  }

  @include media-min ($xl) {

    & a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
