.pagination {
  display: flex;
  margin: 0;
  margin-right: -6px;
  padding: 0;
  list-style: none;

  & > li {
    margin-right: 6px;
  }

  & a,
  & span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    line-height: 1;
    color: var(--black);
    background-color: var(--white);
    border: 1px solid transparent;
    border-radius: 50%;
    white-space: nowrap;
    text-decoration: none;
    overflow: hidden;
  }

  & .prev,
  & .next {
    & a {
      font-size: 0;
      background-repeat: no-repeat;
      background-size: cover;
      border-color: var(--accent);
    }
  }

  & .prev {
    margin-right: 30px;

    & a {
      background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.79 17.2859C10.699 17.381 10.6276 17.4932 10.58 17.6159C10.5271 17.7356 10.4998 17.865 10.4998 17.9959C10.4998 18.1268 10.5271 18.2562 10.58 18.3759C10.6276 18.4987 10.699 18.6108 10.79 18.7059L14.79 22.7059C14.9783 22.8942 15.2337 23 15.5 23C15.7663 23 16.0217 22.8942 16.21 22.7059C16.3983 22.5176 16.5041 22.2622 16.5041 21.9959C16.5041 21.7296 16.3983 21.4742 16.21 21.2859L13.91 18.9959H24.5C24.7652 18.9959 25.0196 18.8906 25.2071 18.703C25.3946 18.5155 25.5 18.2611 25.5 17.9959C25.5 17.7307 25.3946 17.4763 25.2071 17.2888C25.0196 17.1013 24.7652 16.9959 24.5 16.9959H13.91L16.21 14.7059C16.3983 14.5176 16.5041 14.2622 16.5041 13.9959C16.5041 13.7296 16.3983 13.4742 16.21 13.2859C16.0217 13.0976 15.7663 12.9918 15.5 12.9918C15.2337 12.9918 14.9783 13.0976 14.79 13.2859L10.79 17.2859Z' fill='%23F3770F'/%3E%3C/svg%3E");
    }
  }

  & .next {
    margin-left: 30px;

    & a {
      background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.21 17.2859C25.301 17.381 25.3724 17.4932 25.42 17.6159C25.4729 17.7356 25.5002 17.865 25.5002 17.9959C25.5002 18.1268 25.4729 18.2562 25.42 18.3759C25.3724 18.4987 25.301 18.6108 25.21 18.7059L21.21 22.7059C21.0217 22.8942 20.7663 23 20.5 23C20.2337 23 19.9783 22.8942 19.79 22.7059C19.6017 22.5176 19.4959 22.2622 19.4959 21.9959C19.4959 21.7296 19.6017 21.4742 19.79 21.2859L22.09 18.9959H11.5C11.2348 18.9959 10.9804 18.8906 10.7929 18.703C10.6054 18.5155 10.5 18.2611 10.5 17.9959C10.5 17.7307 10.6054 17.4763 10.7929 17.2888C10.9804 17.1013 11.2348 16.9959 11.5 16.9959H22.09L19.79 14.7059C19.6017 14.5176 19.4959 14.2622 19.4959 13.9959C19.4959 13.7296 19.6017 13.4742 19.79 13.2859C19.9783 13.0976 20.2337 12.9918 20.5 12.9918C20.7663 12.9918 21.0217 13.0976 21.21 13.2859L25.21 17.2859Z' fill='%23F3770F'/%3E%3C/svg%3E%0A");
    }
  }

  & .active {
    & span {
      color: var(--white);
      background-color: var(--accent);
    }
  }

  @include media-min ($xl) {
    & a {
      transition: border-color .15s ease-in-out, background-color .15s ease-in-out;

      &:hover {
        border-color: var(--accent);
      }
    }

    & .prev,
    & .next {
      & a {
        &:hover {
          background-color: var(--accent);
        }
      }
    }

    & .prev {
      & a {
        &:hover {
          background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.79 17.2859C10.699 17.381 10.6276 17.4932 10.58 17.6159C10.5271 17.7356 10.4998 17.865 10.4998 17.9959C10.4998 18.1268 10.5271 18.2562 10.58 18.3759C10.6276 18.4987 10.699 18.6108 10.79 18.7059L14.79 22.7059C14.9783 22.8942 15.2337 23 15.5 23C15.7663 23 16.0217 22.8942 16.21 22.7059C16.3983 22.5176 16.5041 22.2622 16.5041 21.9959C16.5041 21.7296 16.3983 21.4742 16.21 21.2859L13.91 18.9959H24.5C24.7652 18.9959 25.0196 18.8906 25.2071 18.703C25.3946 18.5155 25.5 18.2611 25.5 17.9959C25.5 17.7307 25.3946 17.4763 25.2071 17.2888C25.0196 17.1013 24.7652 16.9959 24.5 16.9959H13.91L16.21 14.7059C16.3983 14.5176 16.5041 14.2622 16.5041 13.9959C16.5041 13.7296 16.3983 13.4742 16.21 13.2859C16.0217 13.0976 15.7663 12.9918 15.5 12.9918C15.2337 12.9918 14.9783 13.0976 14.79 13.2859L10.79 17.2859Z' fill='%23FFFFFF'/%3E%3C/svg%3E");
        }
      }
    }

    & .next {
      & a {
        &:hover {
          background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.21 17.2859C25.301 17.381 25.3724 17.4932 25.42 17.6159C25.4729 17.7356 25.5002 17.865 25.5002 17.9959C25.5002 18.1268 25.4729 18.2562 25.42 18.3759C25.3724 18.4987 25.301 18.6108 25.21 18.7059L21.21 22.7059C21.0217 22.8942 20.7663 23 20.5 23C20.2337 23 19.9783 22.8942 19.79 22.7059C19.6017 22.5176 19.4959 22.2622 19.4959 21.9959C19.4959 21.7296 19.6017 21.4742 19.79 21.2859L22.09 18.9959H11.5C11.2348 18.9959 10.9804 18.8906 10.7929 18.703C10.6054 18.5155 10.5 18.2611 10.5 17.9959C10.5 17.7307 10.6054 17.4763 10.7929 17.2888C10.9804 17.1013 11.2348 16.9959 11.5 16.9959H22.09L19.79 14.7059C19.6017 14.5176 19.4959 14.2622 19.4959 13.9959C19.4959 13.7296 19.6017 13.4742 19.79 13.2859C19.9783 13.0976 20.2337 12.9918 20.5 12.9918C20.7663 12.9918 21.0217 13.0976 21.21 13.2859L25.21 17.2859Z' fill='%23FFFFFF'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }
}
