.product-card {
  position: relative;
  border: 1px solid var(--light-gray);
  border-radius: 18px;
  overflow: hidden;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  &__img {
    display: block;
    width: 100%;
    height: 280px;
    object-fit: cover;
  }

  &__meta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    padding-bottom: 0;
    width: 100%;
    color: var(--black);
    background-color: var(--white);
  }

  &__link-wrapper {
    display: flex;
    align-items: flex-end;
    padding: 20px;
    padding-top: 24px;
    flex: 1 1 auto;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__params {
    color: var(--dark-gray);
  }

  &__link {
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__badges {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 140px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: -5px;

    & > * {
      margin: 5px;
    }
  }

  @include media-min ($xl) {
    transition: border-color .2s ease-in-out;

    &:hover {
      border-color: transparent;

      & .product-card__title {
        color: var(--accent);
      }
    }

    &__title {
      transition: color .2s ease-in-out;
    }

    &__img {
      height: 300px;
    }

    &__meta {
      padding: 24px;
      padding-bottom: 0;
    }

    &__link-wrapper {
      padding: 24px;
      padding-top: 30px;
    }
  }
}
