.partnership-steps {
  padding-top: 60px;
  padding-bottom: 60px;

  &__title {
    margin-bottom: 30px;
    text-align: center;
  }

  &__list {
    margin-bottom: -10px;
  }

  &__item {
    position: relative;
    margin-bottom: 10px;
    display: flex;

    &::before {
      content: '';
      position: absolute;
      left: 14px;
      top: 42px;
      bottom: 0;
      width: 2px;
      background-color: var(--accent);
      border-radius: 99em;
    }

    &::after {
      content: '';
      position: absolute;
      left: 6px;
      bottom: -2px;
      width: 18px;
      height: 11px;
      background-image: url("data:image/svg+xml,%3Csvg width='19' height='12' viewBox='0 0 19 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.4105 1.31957L9.30992 8.47165L2.16087 1.27091C2.04861 1.15692 1.91506 1.06643 1.76789 1.00468C1.62073 0.942922 1.46289 0.911133 1.30348 0.911133C1.14405 0.911133 0.986215 0.942922 0.839055 1.00468C0.691895 1.06643 0.558335 1.15692 0.446075 1.27091C0.332885 1.38399 0.24305 1.51852 0.181744 1.66674C0.120437 1.81496 0.0888672 1.97395 0.0888672 2.13452C0.0888672 2.29509 0.120437 2.45407 0.181744 2.60229C0.24305 2.75051 0.332885 2.88504 0.446075 2.99812L8.45248 11.0624C8.56475 11.1764 8.6983 11.267 8.84546 11.3287C8.99263 11.3904 9.15046 11.4222 9.30992 11.4222C9.46932 11.4222 9.62711 11.3904 9.77431 11.3287C9.92141 11.267 10.055 11.1764 10.1673 11.0624L10.9643 10.1989L18.0649 3.04678C18.1781 2.9337 18.2681 2.79917 18.3293 2.65095C18.3907 2.50273 18.4222 2.34374 18.4222 2.18317C18.4222 2.0226 18.3907 1.86362 18.3293 1.7154C18.2681 1.56718 18.1781 1.43265 18.0649 1.31957C17.841 1.10748 17.5452 0.989391 17.2377 0.989391C16.9303 0.989391 16.6346 1.10748 16.4105 1.31957Z' fill='%23F57E01'/%3E%3C/svg%3E ");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    & svg {
      width: 32px;
      height: 32px;
      margin-right: 25px;
      flex-shrink: 0;
    }

    & span {
      margin-bottom: 50px;
    }

    &--finish {
      &::before {
        bottom: 42px;
      }

      &::after {
        left: 5px;
        bottom: 5px;
        width: 20px;
        height: 45px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='52' viewBox='0 0 24 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.3828 22.4804C17.3487 17.4101 10.3159 27.2709 3.2819 23.8415V23.112C3.2819 22.206 2.54684 21.4709 1.64088 21.4709C0.73492 21.4709 0 22.206 0 23.112V51.3591C0 52.265 0.73492 53 1.64088 53C2.54684 53 3.2819 52.265 3.2819 51.3591V39.3924C9.96751 42.6509 16.6533 33.9043 23.3402 37.385C23.6488 37.5464 24.0197 37.5357 24.3176 37.354C24.6157 37.1735 24.7974 36.8508 24.7974 36.5014C24.7974 32.0978 24.7974 27.694 24.7974 23.2892C24.7973 22.9699 24.6422 22.6674 24.3828 22.4804Z' fill='%23F57E01'/%3E%3Cpath d='M19.3216 0.408442L12.221 7.56052L5.072 0.359782C4.95974 0.245788 4.82619 0.155295 4.67902 0.093548C4.53186 0.031789 4.37402 0 4.21461 0C4.05518 0 3.89735 0.031789 3.75019 0.093548C3.60303 0.155295 3.46947 0.245788 3.35721 0.359782C3.24402 0.472862 3.15418 0.607392 3.09288 0.755612C3.03157 0.903832 3 1.06282 3 1.22339C3 1.38396 3.03157 1.54294 3.09288 1.69116C3.15418 1.83938 3.24402 1.97391 3.35721 2.08699L11.3636 10.1513C11.4759 10.2653 11.6094 10.3559 11.7566 10.4176C11.9038 10.4793 12.0616 10.5111 12.221 10.5111C12.3804 10.5111 12.5382 10.4793 12.6854 10.4176C12.8325 10.3559 12.9661 10.2653 13.0784 10.1513L13.8754 9.28781L20.976 2.13565C21.0892 2.02257 21.1792 1.88804 21.2404 1.73982C21.3018 1.5916 21.3333 1.43261 21.3333 1.27204C21.3333 1.11147 21.3018 0.952492 21.2404 0.804272C21.1792 0.656052 21.0892 0.521522 20.976 0.408442C20.7521 0.196349 20.4563 0.078258 20.1488 0.078258C19.8414 0.078258 19.5457 0.196349 19.3216 0.408442Z' fill='%23F57E01'/%3E%3C/svg%3E ");
      }
    }
  }

  @include media-min ($md) {
    &__title {
      margin-bottom: 40px;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
      justify-content: center;
    }

    &__item {
      flex-direction: column;
      margin: 15px;
      max-width: calc(33% - 30px);

      & svg {
        width: 48px;
        height: 48px;
        margin-right: 0;
        margin-bottom: 12px;
      }

      & span {
        margin-bottom: 0;
      }

      &::before {
        content: '';
        position: absolute;
        left: 68px;
        top: 24px;
        right: 1px;
        bottom: auto;
        width: auto;
        height: 2px;
      }

      &::after {
        content: '';
        position: absolute;
        left: auto;
        right: 0;
        bottom: auto;
        top: 16px;
        width: 11px;
        height: 19px;
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='19' viewBox='0 0 11 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.408441 2.0117L7.56052 9.11229L0.359782 16.2613C0.245788 16.3736 0.155295 16.5072 0.0935479 16.6543C0.0317889 16.8015 -6.00602e-08 16.9593 -5.30922e-08 17.1187C-4.61233e-08 17.2782 0.031789 17.436 0.093548 17.5832C0.155295 17.7303 0.245788 17.8639 0.359782 17.9761C0.472862 18.0893 0.607392 18.1792 0.755612 18.2405C0.903832 18.3018 1.06282 18.3333 1.22339 18.3333C1.38396 18.3333 1.54294 18.3018 1.69116 18.2405C1.83938 18.1792 1.97391 18.0893 2.08699 17.9761L10.1513 9.96973C10.2653 9.85746 10.3559 9.72392 10.4176 9.57676C10.4793 9.42959 10.5111 9.27175 10.5111 9.11229C10.5111 8.95289 10.4793 8.7951 10.4176 8.6479C10.3559 8.5008 10.2653 8.36719 10.1513 8.25489L9.28781 7.45789L2.13565 0.357296C2.02257 0.244096 1.88804 0.154095 1.73982 0.0928954C1.5916 0.0314954 1.43261 -3.87732e-06 1.27204 -3.8703e-06C1.11147 -3.86328e-06 0.952491 0.0314955 0.804271 0.0928955C0.656051 0.154095 0.521521 0.244096 0.408441 0.357296C0.196348 0.581196 0.0782573 0.876996 0.0782573 1.1845C0.0782573 1.4919 0.196348 1.7876 0.408441 2.0117Z' fill='%23F57E01'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      &--finish {
        &::before {
          right: 54px;
        }

        &::after {
          left: auto;
          bottom: auto;
          top: 7px;
          right: 0;
          width: 63px;
          height: 36px;
          background-image: url("data:image/svg+xml,%3Csvg width='63' height='36' viewBox='0 0 63 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M62.5319 1.66529C54.5893 -4.0388 46.6482 7.05461 38.7058 3.19652V2.37581C38.7058 1.35653 37.8758 0.529591 36.8528 0.529591C35.8298 0.529591 35 1.35653 35 2.37581V34.1538C35 35.1729 35.8298 35.9998 36.8528 35.9998C37.8758 35.9998 38.7058 35.1729 38.7058 34.1538V20.6913C46.2548 24.3571 53.8041 14.5172 61.3546 18.4329C61.7031 18.6145 62.1219 18.6025 62.4582 18.3981C62.7948 18.195 63 17.832 63 17.4389C63 12.4848 63 7.53059 63 2.57518C62.9999 2.21593 62.8248 1.87559 62.5319 1.66529Z' fill='%23F57E01'/%3E%3Cpath d='M0.408442 11.0117L7.56052 18.1123L0.359782 25.2614C0.245788 25.3736 0.155295 25.5072 0.093548 25.6544C0.031789 25.8015 0 25.9594 0 26.1188C0 26.2782 0.031789 26.436 0.093548 26.5832C0.155295 26.7303 0.245788 26.8639 0.359782 26.9762C0.472862 27.0894 0.607392 27.1792 0.755612 27.2405C0.903832 27.3018 1.06282 27.3334 1.22339 27.3334C1.38396 27.3334 1.54294 27.3018 1.69116 27.2405C1.83938 27.1792 1.97391 27.0894 2.08699 26.9762L10.1513 18.9698C10.2653 18.8575 10.3559 18.7239 10.4176 18.5768C10.4793 18.4296 10.5111 18.2718 10.5111 18.1123C10.5111 17.9529 10.4793 17.7951 10.4176 17.6479C10.3559 17.5008 10.2653 17.3672 10.1513 17.2549L9.28781 16.4579L2.13565 9.35733C2.02257 9.24413 1.88804 9.15413 1.73982 9.09293C1.5916 9.03153 1.43261 9.00003 1.27204 9.00003C1.11147 9.00003 0.952492 9.03153 0.804272 9.09293C0.656052 9.15413 0.521522 9.24413 0.408442 9.35733C0.196349 9.58123 0.078258 9.87703 0.078258 10.1845C0.078258 10.4919 0.196349 10.7876 0.408442 11.0117Z' fill='%23F57E01'/%3E%3C/svg%3E ");
        }
      }
    }
  }

  @include media-min ($xl) {
    padding-top: 80px;

    &__item {
      max-width: calc(25% - 30px);
    }
  }
}
