.product-modules {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    border: 1px solid var(--light-gray);
    border-radius: 12px;

    & img {
      display: block;
      width: 100%;
    }
  }

  &__caption {
    padding: 12px;
    padding-top: 16px;
    display: grid;
    row-gap: 6px;
    color: var(--dark-gray);
  }

  &__title {
    font-weight: 500;
    color: var(--black);
  }

  @include media-min ($md) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include media-min ($xl) {
    grid-template-columns: repeat(6, 1fr);
  }
}
